<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>repl.it</title>
  <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <ul class="pokemon-list"></ul>



  <strong>
    <script src="static/js/polyfill.min.js"></script> <!-- Add the script tag here to link to the script -->
    <script src="static/js/script.js"></script> <!-- Add the script tag here to link to the script -->
  </strong>

  <div class="container"></div>
  <div id="modal-container"></div>


</body>



</html>